





body {
    background-image: url('festive-frame-with-pink-roses-gray.jpg');  
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh; 
    background-repeat: no-repeat;
    
    
}

@media (max-width:768px) {
    body{
    background-image:url(freepik-export-20250116220519RZEQ.jpeg) ;
    background-size: cover;
    background-position: center;
    }
}





#header{
    display: flex;
     
 
 

}

@media(max-width:768px) {
    header{
        display: flex;

    }
}

#caixadalogoprincipal{ 
  margin: 0%;
  padding: 0;

}

#logoprincipal{
    max-width: 200px;
    min-width: 100px;
    width:  200px ;
    padding: 0;
    

}


@media(max-width:768px){
    #logoprincipal{
        width: 150px;
        padding: 0;
    }
}


#links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0;
    
   
     

}

#links a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color:rgb(255, 255, 255)  ;
    border: 2px solid rgb(255, 255, 255);
    width: 50px;
    height: 15px;
    font-size: medium;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0);
     
     
    
    
    
   

    
    
}




#links ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    flex-wrap: wrap;
    margin: 0%;
    padding: 0%;
   
    
  
    



    
}



@media (max-width:768px) {
    #links{
        padding: 0;
        gap: 5px;
        display: flex;
       

    }
    #links ul {
       display:flex ;
        gap: 3px;


    }
    #links a {
       display: flex;   
        
    }

}

 @media (max-width:768px) {

 }



#layoutbox{
    text-align: center;
    padding-top: 100px;
   
}

#seusonho{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
}
    





#button{
    width: 40%;
    height: 50px;
    color: white;
    border-color: white;
    background-color: transparent;
    border: 3%;
    border-radius: 5%;
    font-size: 15px;
   
    
   
    
}


#button:hover {
    background-color: whitesmoke;
    color: rgb(161, 161, 161);
  
}



/*PART II START´S HERE*/

#sobrenos{
    padding-top: 250px;
    text-align: center;
    color: black;
    text-decoration: underline;
    

}



@media (max-width:800px){
#sobrenos{ padding-top:295px ;

}
}

#textosobrenos{
    text-align: center;
    padding-top: 3%;
   
    

    
}

#sobrenostudao{
display: flex;



}

.imagemsobre{
    width: 100px;
    

}
 

#imagemsobrecaixa{

    display: flex;
    gap: 10px;
   justify-content: center; 
}

#vermaisfotos{
   color: black;
   text-decoration: underline;
   padding-left: 150px;

   
}








/*PART III STARTS HERE*/

#contatenosbox{
    background-color: rgb(185, 185, 185);
    
}





#contatenos{
    padding-left: 30px;
    color:rgb(255, 255, 255);
    text-decoration: underline;
    padding-top: 50px;
   padding-left: 29%;
    
    

}





#pdocontate{
    color: rgb(255, 255, 255);
    font-size: larger;
    text-align: center;
   

}

#zapbutton{
display: flex;
background-color: white;
border: none;
border-radius: 5px;
width: 150px;
align-items: center;

}

#instabutton{
display: flex;
background-color: white;
border: none;
border-radius: 5px;
width: 150px; 
align-items: center;

}

#contactbuttons{

display: flex;
gap: 10px;
padding-left: 30px;
text-align: center;
justify-content: center;

}

#icons{
    text-align: center;
    justify-content: center;
    
       

}




#direitos{
    text-align: center;
    font-size: medium
   
}

