:root{
/* paleta de cores */
--cor-1:#ffc0cb;
--cor-2:#ffd0d8;
--cor-3:#ffdfe5;
--cor-4:#ffeff2;
--cor-5:#ffffff;

}

body{
    background-color: var(--cor-5);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin:0 ;
    }





header{
    background-color: var(--cor-1);
    width: 100vw;
    height: 60px;
   display: flex;
   position: fixed;

  

}

.logo


.titulocabeçalho{
    font-size: xx-large;
    color: #ffffff;
    margin: auto;
}
